language: node_js

cache:
  - yarn

node_js:
  - '10'

git:
  depth: 3

before_deploy:
  - yarn run build

deploy:
  provider: script
  script: bash ./scripts/deploy.sh
  skip_cleanup: true
  on:
    branch: master
