language: node_js

cache:
  - yarn

node_js:
  - '10'

git:
  depth: 3

before_deploy:
  - yarn global add netlify-cli
  - yarn run build

deploy:
  provider: script
  script: netlify deploy --prod --site $NETLIFY_ID --auth $NETLIFY_AUTH --dir ./public
  skip_cleanup: true
  on:
    branch: master
